<!DOCTYPE html>
<html>
    <head>
        <title>SASS ONE PAGER</title>
        <link rel="stylesheet" href="../static/sass.css">
    </head>
    <body id="home">
        <div id="header">
            <img src="../static/sass-logo.png" alt="Sass logo">
        </div>
        
        <nav>
            <ul>
                <div>
                <li><a class="active" href="#home">Home</a></li>
                <li><a href="#Installation">Installation</a></li>
                <li><a href="#Intro to Sass">Intro to Sass</a></li>
                <li><a href="#Nesting">Nesting</a></li>
                <li><a href="#Interpolation">Interpolation</a></li>
                <li><a href="#At Rules">At-Rules</a></li>
                <li><a href="#Operators">Operators</a></li>
                <li><a href="#Modules">Modules</a></li>
            </div>
            </ul>
        </nav>

        <div>
            <h1 id="Installation"> Installation </h1>
            <h2> Command Line </h2>
            <h3>Install Anywhere (Standalone)</h3>
            <div class="container">
                <div class="image">
                    <img src="../static/wig-install.gif" style="width:300px;height:auto;">
                </div>
                <div class="text">
                    <p>Just like a wig install, you can install Sass on Windows, Mac, or Linux by downloading the package for your operating system from GitHub and adding it to your PATH.</p>
                </div>
            </div>
            <h3>Install on Windows (Chocolatey) </h3>
            If you use the Chocolatey package manager for Windows, you can install Sass by running
            <pre>
                <code>
                    choco install sass
                </code>
            </pre>
            <h3> Install on Mac OS X or Linux (Homebrew) </h3>
            If you use the Homebrew package manager for Mac OS X or Linux, you can install Sass by running
            <pre>
                <code>
                    brew install sass/sass/sass
                </code>
            </pre>
        </div> <!-- end installation -->

        <div>
            <h1 id="Intro to Sass"> Intro to Sass </h1>
            <p><span>S</span>yntactically</p>
            <p><span>A</span>wesome</p>
            <p><span>S</span>tyle</p>
            <p><span>S</span>heets</p>
            <p>
            Sass is a preprocessor scripting language that provides you with features that don't exist in CSS yet like nesting, mixins, inheritance, and other nifty goodies that help you write robust, maintainable CSS.
            </p>
            <h2>Two Syntaxes</h2>
            <!--The SCSS syntax (.scss) is used most commonly. 
                It's a superset of CSS, which means all valid CSS is also valid SCSS. 
                The indented syntax (.sass) is more unusual: it uses indentation rather than curly braces to nest statements, and newlines instead of semicolons to separate them. 
                All our examples are available in both syntaxes. -->
            <ul><code>.scss</code> - most common</ul> 
            <ul><code>.sass</code> - more unusual, indented syntax</ul>
            <table>
                <tr>
                    <th>.scss</th>
                    <th></th>
                    <th>.sass</th>
                </tr>
                <tr>
                    <td>
                        <code>
                            <pre class="tab4">
                            <br>.container {
                            <br>    float: left;
                            <br>    width: 100%;
                            <br>    p {
                            <br>        color: #333;
                            <br>    }
                            <br>}
                            </pre>
                        </code>
                    </td>
                    <td>
                        <br>
                    </td>
                    <td>
                        <code>
                            <pre class="tab4">
                            <br>.container
                            <br>    float: left
                            <br>    width: 100%
                            <br>p
                            <br>   color: #333
                        </pre>
                        </code>
                    </td>
                </tr>
            </table>
            SASS <b>CANNOT</b> be read/understood by browsers
            To make this work, you must compile sass into css by using this command: 
            <pre>
                <code>
                    sass --watch input.scss output.css
                </code>
            </pre>
            As long as the Sass file is being "watched" your changes will automatically compile into the output.css file.
            <h2>Partials</h2>
            <p>
                "partial" sass files contain:
                <ul> Little snippets of CSS which can be included in other Sass files </ul>
                <ul> Modularize your CSS, keeping things easier to maintain</ul>
                <ul> Named with a leading underscore </ul>
                <pre>
                    <code>
                        _partial.scss
                    </code>
                </pre>
                <ul> For instance, if I wrote <code>@import _partials.scss</code> or <code>@use _partials.css</code> (functions you can read about in the at-rules section) in the beginning of my main scss file, then I could reference functions, variables, and classes from _partials.scss in my main scss file.</ul>
                <!--Basically like functions. Code a css snippet in a partial and then you can reference that partial in the main css file.-->
            </p>
            <h2>Variables</h2>
            <p>
            Sass allows for the use of variables, which can reference colors, numbers, strings, etc. </p>
            <ul>Use the $ to declare and reference a variable</ul>
            <pre>
                <code>
                    $logo-color: #ff00bb
                </code>

                ...which can then be referenced as:

                <code>
                    button {
                        background: $logo-color;
                    }

                    h2 {
                        color: $logo-color;
                    }
                </code>
            </pre>
            <ul>Sass variables are imperative, which means if you use a variable and then change its value, the earlier use will stay the same.</ul>
            <ul>CSS variables are declarative, which means if you change the value, it’ll affect both earlier uses and later uses.</ul>
            <ul>Variables that are defined by a built-in module cannot be modified.</ul>
            </p>
        </div> <!-- end intro to SASS -->

        <div>
            <h1 id="Nesting"> Nesting </h1>
            <img src="../static/bird-nest.png" style="width:300px;height:auto;">
            <p>
                <ul>With Sass, you can nest your CSS selectors in a way that follows the same visual hierarchy of your HTML.</ul>
                <ul>HOWEVER! Overly nested rules will result in overqualified CSS which can cause complications in the compilation of your Sass file.</ul> <!--hard to maintain and considered bad practice-->
            </p>
	        <br>For example: If you have multiple buttons, you can combine all of them under one class in Sass and have sub classes for each type button
            <br>Either use indent or &
            <table>
                <th>
                    <pre>
                        <code>
                            .button {
                                .sucess {
                                    color: green;
                                }
                            }
                        </code>
                    </pre>
                </th>
                <th>
                    <pre>
                        <code>
                            .btn {
                                &:focus {}
                                &:hover {}
                                &:active {}
                            }
                        </code>
                    </pre>
                </th>
            </table>
        </div> <!-- end nesting -->

        <div>
            <h1 id="Interpolation">Interpolation </h1>
            <p>
                Interpolation can be used almost anywhere in a Sass stylesheet to embed the result of a SassScript expression into a chunk of CSS. 
                Just wrap an expression in #{} in any of the following places:
            </p>
            <h2>SassScript</h2>
            <p>
                Interpolation can be used in SassScript to inject SassScript into unquoted strings.
                This is particularly useful when dynamically generating names (for example for animations), or when using slash-separated values.
                Note that interpolation in SassScript always returns an unquoted string.
            </p>
            <h2>Quoted Strings</h2>
            <p>
                In most cases, interpolation injects the exact same text that would be used if the expression were used as a property value.
                But there is one exception: the quotation marks around quoted strings are removed (even if those quoted strings are in lists). 
                This makes it possible to write quoted strings that contain syntax that’s not allowed in SassScript (like selectors) and interpolate them into style rules.
            </p>
        </div> <!-- end interpolation -->
        
        <div>
            <h1 id="At Rules">At-Rules</h1>
            <h2>@MIXIN</h2>
                <ul>CSS Classes with similar styles?</ul>
                <ul>Create one MIXIN class that can be mentioned in other classes!</ul>
                <ul>For example, if I have</ul>
                <pre class="tab4">
                    <code>
                        @mixin example {
                            color: $logo-color;
                            size: $default-size;
                        }
                    </code>
                </pre>
                <ul>and I reference that in another class using @include</ul>
                <pre class="tab4">
                    <code>
                        specialText {
                            @include example;
                            margin-left: auto;
                            margin-right: 100px;
                        }
                    </code>
                </pre>
                <ul>The compiled css would be:</ul>
                <pre class="tab4">
                    <code>
                        specialText {
                            color: $logo-color;
                            size: $default-size;
                            @include example;
                            margin-left: auto;
                            margin-right: 100px;
                        }
                    </code>
                </pre>
            <h2>@INCLUDE</h2>
                <ul>Allows user to include mixins in classes</ul>
            <h2>@IMPORT</h2>
                <ul>Extends the CSS at-rule to load styles, mixins, functions, and variables from other stylesheets</ul>
                <ul>Similar to @import in Java</ul>
            <h2>@USE</h2>
                <ul>Newer version of @import</ul>
                <ul>Only imports desired module ONCE</ul>
                <ul>Allows user to keep track of variables</ul> 
                <ul>For example, let's say we have the variable $primary-color in a partial file that we reference in our main scss file.</ul>
                <ul>HOWEVER, we also have a variable named $primary-color in our main scss file!</ul>
                <ul>To avoid errors, you would do <code>@use exampleFile.scss as e</code> (the "e" can be whatever you want it to be)</ul>
                <ul>Then, you can reference the partial file variable as <code>e.$primary-color</code> which will differentiate it from the $primary-color in our main file</ul>
            <h2>@FORWARD</h2>
                <ul>Can be used prior to @use</ul>
                <ul>"Forwards" mixins, functions, and variables from a stylesheet that are included in another stylesheet</ul>
            <h2>@FUNCTION</h2>
                <ul>defines custom functions that can be used in SassScript expressions</ul>
                <!-- Rounded switch -->
                <!-- <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label> -->
            <h2>@EXTEND</h2>
                <ul>Allows selectors to inherit styles from one another</ul>
                <ul>Different from @mixin</ul>
            <h2>@AT-ROOT</h2>
                <ul>Puts styles within Sass document at the root of the CSS document</ul>
                <ul>Not commonly used</ul>
                <ul>Used for advanced nesting</ul>
            <h2>@ERROR</h2>
                <ul>Causes compilation to fail with an error message</ul>
                <ul>Include the line <code>@error [insert error message here];</code> to throw an error and output said message in terminal which will stop compilation </ul>
            <h2>@WARN</h2>
                <ul>Prints a warning without stopping compilation entirely</ul>
                <ul>Include the line <code>@warn [insert warn message here];</code> to throw a warning and output said message in terminal but it won't prevent compilation </ul>
            <h2>@DEBUG</h2>
            <ul>Prints a message for debugging purposes</ul>
            <ul>Can be used to double check values during compilation</ul>
            <ul>For example, if <code>$primary-color</code> has the value #c69, the line <code>@debug "color is $primary-color";</code> will print "color is #c69" in terminal during compilation </ul>
            <h2>Flow Control</h2>
            Flow control rules like @if, @each, @for, and @while control whether or how many times styles are emitted.
            <table>
                <th>@if controls whether or not a block is evaluated.</th>
                <th>@each evaluates a block for each element in a list or each pair in a map.</th>
                <th>@for evaluates a block a certain number of times.</th>
                <th>@while evaluates a block until a certain condition is met.</th>
            </table>
        </div> <!-- end @ rules -->
        <div>
            <h1 id="Operators">Operators</h1>
            <div class="image">
                <img src="../static/operator.png" style="width:300px;height:auto;">
            </div>
            <p> 	
                Sass supports a handful of useful operators for working with different values.
                These include the standard mathematical operators like + and *, as well as operators for various other types:
                <li>== and != are used to check if two values are the same.</li>
                <li>+, -, *, /, and % have their usual mathematical meaning for numbers, with special behaviors for units that matches the use of units in scientific math.</li>
                <li><, <=, >, and >= check whether two numbers are greater or less than one another.</li>
                <li>and, or, and not have the usual boolean behavior. Sass considers every value “true” except for false and null.</li>
                <li>+, -, and / can be used to concatenate strings.</li>
            </p>
            <h2>To demonstrate...</h2>
                If I have the following code in my file:
                <br>
                    <code>
                        <br>&lt;p class=&quot;paragraph-1&quot;&gt;Sassy Slay&lt;/p&gt;
                        <br>&lt;p class=&quot;paragraph-2&quot;&gt;Sassy Slay&lt;/p&gt;
                        <br>&lt;p class=&quot;paragraph-3&quot;&gt;Sassy Slay&lt;/p&gt;
                        <br>&lt;p class=&quot;paragraph-4&quot;&gt;Sassy Slay&lt;/p&gt;
                        <br>&lt;p class=&quot;paragraph-5&quot;&gt;Sassy Slay&lt;/p&gt;
                    </code>
                <br>
                <br>
                I can use the following code: 
                <br>
                    <code>
                        <pre class="tab4"><br>@for $i from 1 to 6
                        <br>    {
                        <br>        .paragraph-#{$i}
                        <br>    {
                        <br>        font-size: 10px*$i;
                        <br>        @if $i%2==0 {
                        <br>            background-color: rgb(250, 202, 209)
                        <br>        }
                        <br>        @else {
                        <br>            background-color: rgb(184, 226, 239)
                        <br>        }
                        <br>    }
                        <br>}
                    </pre>
                    </code>
                To produce this:
                <p class="paragraph-1">Sassy Slay</p>
                <p class="paragraph-2">Sassy Slay</p>
                <p class="paragraph-3">Sassy Slay</p>
                <p class="paragraph-4">Sassy Slay</p>
                <p class="paragraph-5">Sassy Slay</p>
                If you look closely, each "paragraph" class has a number, and the for loop uses a variable "i", which references the number of each paragraph class. The for loop iterates through numbers 1 through 6 (exclusive), multiplies the font size by the paragraph number, makes the background pink if the number is even, and the background blue if it's odd.
                Of course, this is a very primitive example of for loops, but the possibilities with functions and loops are endless.
        </div> <!-- end operators -->

        <div>
            <h1 id="Modules">Modules</h1>
            <p>
                Sass provides many built-in modules which contain useful functions (and the occasional mixin).
                These modules can be loaded with the @use rule like any user-defined stylesheet, 
                and their functions can be called like any other module member. 
                All built-in module URLs begin with sass: to indicate that they're part of Sass itself.
            </p>
            Sass provides the following built-in modules:
            <br>
            <li>sass:math - provides functions that operate on numbers.</li>
            <li>sass:string - makes it easy to combine, search, or split apart strings.</li>
            <li>sass:color - generates new colors based on existing ones, making it easy to build color themes.</li>
            <li>sass:list - lets you access and modify values in lists.</li>
            <li>sass:map - makes it possible to look up the value associated with a key in a map, and much more.</li>
            <li>sass:selector - provides access to Sass’s powerful selector engine.</li>
            <li>sass:meta - exposes the details of Sass’s inner workings.</li>
        </div> <!-- end modules -->
        
    </body>
</html>